.container {
  width: 90%;
  text-align: center;
  border: 3px solid #ccc;
  margin-top: 25px;
  padding: 20px;
  max-width: 1000px;
  border-radius: 15px;
}
h1,
h2,
.row {
  color: #594545;
}
h1 {
  text-shadow: #ede4e0 1px 0 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.changeTemp {
  font-weight: 500;
  font-size: x-small;
}
image {
  size: 600px;
  width: 600px;
  font-size: 500px;
}
input[type="search"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input[type="search"]:hover {
  border: 1px solid rgb(28, 168, 211);
  transition: all 300ms ease-in-out;
}
input[type="submit"] {
  width: 20%;
  padding: 12px;
  margin: 8px 0;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input[type="submit"]:hover {
  border: 1px solid rgb(26, 233, 60);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
